<%- include('partials/header') %>

<div style="position: absolute; top: 0; right: 0; margin: 1%;">
<button type="submit" class="btn mt-3 btn-light logout-btn">
  Logout 
  <i class="fas fa-sign-out-alt m-1"></i>
</button>
</div>

  <div class="container">
    <div class="row">
      <div class="col">
        <form action="/api/dashboard/water/:id" method="get" id="get-date">
          <label for="date">Choose a date:</label>
          <input type="date" id="date" name="date" min="2000-01-02" /><br />
          <button type="submit" class="btn btn-light date-btn p-1 px-2">
            <i class="fas fa-plus px-1"></i>
            Add
          </button>
        </form>
      </div>
    </div>

    <!-- Cards for each Model -->

    <div class="container mt-5">
      <h1>Simply Fit</h1>
      <!-- <h3 id="date" class="text-center"></h3> -->
      <hr />
      <div class="row">
        <% categories.forEach((category)=> { %>
          <div class="col-md-4 mb-4">
            <div class="card" data-bs-toggle="modal" data-bs-target="#modal<%= category.name %>">
              <div class="card-body text-center">
                <!-- Font Awesome walking man icon -->
                <% if (category.name == 'Steps') { %>
                  <i class="fas fa-shoe-prints fa-3x"></i>
                  <% } else if (category.name == 'Cardio') { %>
                    <i class="fas fa-heartbeat fa-3x pink"></i>
                    <% } else if (category.name == 'Water') { %>
                      <i class="fas fa-tint fa-3x"></i>
                      <% } else if (category.name == 'Workout') { %>
                        <i class="fas fa-dumbbell fa-3x"></i>
                        <% } else if (category.name == 'Sleep') { %>
                          <i class="fas fa-bed fa-3x pink"></i>
                          <% } else { %>
                            <i class="fas fa-walking fa-3x"></i>
                <% } %>
                  <h5 class="card-title mt-3">
                    <%= category.name %>
                  </h5>
                 <!-- Button to open the form modal -->
                  <button type="button" class="btn btn-dark custom-btn px-3" data-bs-toggle="modal"
                    data-bs-target="#formModal<%= category.name %>">
                    <i class="fas fa-plus px-1"></i> Data
                  </button>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>

<!-- Info Modals -->

<!-- User Modal -->
<div class="modal fade" id="modalUser" tabindex="-1" aria-labelledby="modalLabelUser" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelUser">Data for User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- User data -->
        <form id="deleteFormUser">
          <div class="form-check">
            <label class="form-check-label" for="deleteItem"><strong>User:</strong> 
              <%= userData.username %></label>
          </div>
          <div class="form-check">
            <input class="form-check-input heightCheck" type="checkbox" value="<%= userData.height %>" id="<%= userData.id %>" />
            <label class="form-check-label" id="deleteHeight" for="deleteItem"><strong>Height: </strong>
              <%= userData.height %> inches</label>
          </div>
          <div class="form-check">
            <input class="form-check-input weightCheck" type="checkbox" value="<%= userData.weight %>" id="<%= userData.id %>" />
            <label class="form-check-label" id="deleteWeight" for="deleteItem"><strong>Weight:</strong> 
              <%= userData.weight %> lbs</label>
          </div>
          <p class="mx-4"><strong>BMI: </strong><span class="mx-1" id="bmiValue"></span></p>
          <!-- End of user data item block -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="deleteFormUser" class="btn btn-danger deleteUserBtn">
          <i class="fas fa-trash m-1"></i> Selected
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Cardio Modal -->
<div class="modal fade" id="modalCardio" tabindex="-1" aria-labelledby="modalLabelCardio" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelCardio">Data for Cardio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <!-- Cardio data -->
      
        <form id="deleteFormCardio">
           <% cardioArray.map(cardioData => {  %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="<%= cardioData.exercise_name %>" id="<%= cardioData.id %>" />
            <label class="form-check-label deleteCardio" id="deleteCardio" for="deleteItem"><strong>Exercise:</strong>
              <%= cardioData.exercise_name %>
            </label>
            <label class="form-check-label" for="deleteItem"><strong>Distance:</strong>
              <%= cardioData.distance %> 
              km
            <label class="form-check-label" for="deleteItem"><strong>Time:</strong>
              <%= cardioData.time %>
              minutes
            </label>
          </div>
          <% }) %>
          <!-- End of cardio data item block -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="deleteFormCardio" class="btn btn-danger">
          <i class="fas fa-trash m-1"></i> Selected
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Workout Modal -->
<div class="modal fade" id="modalWorkout" tabindex="-1" aria-labelledby="modalLabelWorkout" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelWorkout">Data for Workout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <!-- Workout data -->
        <form id="deleteFormWorkout">
      
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="<%= workoutData.exercise_name %>" id="<%= workoutData.id %>" />
            <label class="form-check-label" id="deleteWorkout" for="deleteItem"><strong>Exercise:</strong>
              <%= workoutData.exercise_name %>
            </label>
            <label class="form-check-label" for="deleteItem"><strong>Sets:</strong>
              <%= workoutData.sets %>
            </label>
            <label class="form-check-label" for="deleteItem"><strong>Reps:</strong>
              <%= workoutData.reps %>
            </label>
            <label class="form-check-label" for="deleteItem"><strong>Weight per Set:</strong>
              <%= workoutData.weight %>
              lbs
            </label>
          </div>
          <!-- End of workout data item block -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="deleteFormWorkout" class="btn btn-danger">
          <i class="fas fa-trash m-1"></i> Selected
        </button>
      </div>
    </div>
  </div>
</div>

 <!-- Water Modal -->
<div class="modal fade" id="modalWater" tabindex="-1" aria-labelledby="modalLabelWater" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelWater">Data for Water</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Replace with actual water data -->
        <form id="deleteFormWater">
          <!-- Repeat this block for each water data item -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="<%= waterData.amount %>" id="<%= waterData.id %>" />
            <label class="form-check-label" id="waterLabel" for="deleteItem"><strong>Amount:</strong>  <%= waterData.amount %> oz</label>
          </div>
          <!-- End of water data item block -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="deleteFormWater" class="btn btn-danger deleteWaterBtn">
          <i class="fas fa-trash m-1"></i> Selected
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Sleep Modal -->
<div class="modal fade" id="modalSleep" tabindex="-1" aria-labelledby="modalLabelSleep" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelSleep">Data for Sleep</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <!-- Sleep data -->
        <form id="deleteFormSleep">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="<%= sleepData.hours %>" id="<%= sleepData.id %>" />
            <label class="form-check-label" id="sleepLabel" for="deleteItem"><strong>Hours:</strong> <%= sleepData.hours %></label>
          </div>
          <!-- End of sleep data item block -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="deleteFormSleep" class="btn btn-danger">
          <i class="fas fa-trash m-1"></i> Selected
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Steps Modal -->
<div class="modal fade" id="modalSteps" tabindex="-1" aria-labelledby="modalLabelSteps" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelSteps">Data for Steps</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Steps data -->
        <form id="deleteFormSteps">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="<%= stepsData.amount %>" id="<%= stepsData.id %>" />
            <label class="form-check-label" id="stepsLabel" for="deleteItem"><strong>Steps:</strong> <%= stepsData.amount %></label>
          </div>
          <!-- End of steps data item block -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="deleteFormSteps" class="btn btn-danger">
          <i class="fas fa-trash m-1"></i> Selected
        </button>
      </div>
    </div>
  </div>
</div>

  

      <!-- Form Modals -->

        <!-- User Modal-->
        <div class="modal fade" id="formModalUser" tabindex="-1" aria-labelledby="formModalLabelUser"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModalLabelUser">
                  Update/Add User Data
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/api/dashboard/user" method="POST">
                  <!-- Form fields for each attribute of the model -->
                  <div class="mb-3">
                    <label for="userHeight" class="form-label"><strong>Height</strong></label>
                    <input type="number" class="form-control" placeholder="in feet" id="userHeightFeet"
                      name="userHeightFeet" />
                  </div>
                  <div class="mb-3">
                    <label for="userHeight" class="form-label"><strong>Height</strong></label>
                    <input type="number" class="form-control" placeholder="in inches" id="userHeightInches"
                      name="userHeightInches" />
                  </div>
                  <div class="mb-3">
                    <label for="userWeight" class="form-label"><strong>Weight</strong></label>
                    <input type="number" class="form-control" placeholder="in lbs" id="userWeight" name="userWeight" />
                  </div>
                  <!-- Repeat for other attributes -->

                  <!-- hidden input needed to pass the model ID for updates -->
                  <input type="hidden" name="userId" value="userId" />

                  <button type="submit" class="btn btn-success submit-user-btn">
                    Submit
                    <i class="fas fa-check mx-2"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Cardio Model -->
        <div class="modal fade" id="formModalCardio" tabindex="-1" aria-labelledby="formModalLabelCardio"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModalLabelCardio">
                  Update/Add Cardio Data
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/api/dashboard/cardio" method="POST">
                  <!-- Form fields for each attribute of the model -->
                  <div class="mb-3">
                    <label for="Exercise" class="form-label"><strong>Exercise</strong></label>
                    <input type="text" class="form-control" placeholder="exercise" id="exercise" name="exercise" />
                  </div>
                  <div class="mb-3">
                    <label for="Distance" class="form-label"><strong>Distance</strong></label>
                    <input type="number" class="form-control" placeholder="distance(km)" id="distance"
                      name="distance" />
                  </div>
                  <div class="mb-3">
                    <label for="Time" class="form-label"><strong>Time</strong></label>
                    <input type="number" class="form-control" placeholder="time(minutes)" id="time" name="time" />
                  </div>
                  <!-- hidden input needed to pass the model ID for updates -->
                  <input type="hidden" name="userId" value="userId" />

                  <button type="submit" class="btn btn-success cardio">
                    Submit
                    <i class="fas fa-check mx-2"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Workout Modal -->
        <div class="modal fade" id="formModalWorkout" tabindex="-1" aria-labelledby="formModalLabelWorkout"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModalLabelWorkout">
                  Update/Add Workout Data
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/api/dashboard/workout" method="POST">
                  <!-- Form fields for each attribute of the model -->
                  <div class="mb-3">
                    <label for="Workout" class="form-label"><strong>Workout</strong></label>
                    <input type="text" class="form-control" placeholder="exercise" id="workout" name="workout" />
                  </div>
                  <div class="mb-3">
                    <label for="Reps" class="form-label"><strong>Reps</strong></label>
                    <input type="number" class="form-control" placeholder="reps" id="reps" name="reps" />
                  </div>
                  <div class="mb-3">
                    <label for="Sets" class="form-label"><strong>Sets</strong></label>
                    <input type="number" class="form-control" placeholder="sets" id="sets" name="sets" />
                  </div>
                  <div class="mb-3">
                    <label for="weight" class="form-label"><strong>Weight per Set</strong></label>
                    <input type="number" class="form-control" placeholder="in lbs" id="weight" name="weight" />
                  </div>
                  <!-- hidden input needed to pass the model ID for updates -->
                  <input type="hidden" name="userId" value="userId" />

                  <button type="submit" class="btn btn-success workout">
                    Submit
                    <i class="fas fa-check mx-2"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

      <!-- Water Modal -->
        <div class="modal fade" id="formModalWater" tabindex="-1" aria-labelledby="formModalLabelWater"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModalLabelWater">
                  Update/Add Water Data
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/api/dashboard/water" method="POST">
                  <!-- Form fields for each attribute of the model -->
                  <div class="mb-3">
                    <label for="Water" class="form-label"><strong>Water</strong></label>
                    <input type="number" class="form-control" placeholder="ounces" id="wtrAmt" name="wtrAmt" />
                  </div>
                  <!-- hidden input needed to pass the model ID for updates -->
                  <input type="hidden" name="userId" value="userId" />

                  <button type="submit" class="btn btn-success wtr-btn">
                    Submit
                    <i class="fas fa-check mx-2"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

      <!-- Sleep Modal -->
        <div class="modal fade" id="formModalSleep" tabindex="-1" aria-labelledby="formModalLabelSleep"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModalLabelSleep">
                  Update/Add Sleep Data
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/api/dashboard/sleep" method="POST">
                  <!-- Form fields for each attribute of the model -->
                  <div class="mb-3">
                    <label for="Sleep" class="form-label"><strong>Sleep</strong></label>
                    <input type="number" class="form-control" placeholder="hours" id="sleep" name="sleep" />
                  </div>
                  <!-- hidden input needed to pass the model ID for updates -->
                  <input type="hidden" name="userId" value="userId" />

                  <button type="submit" class="btn btn-success slp-btn">
                    Submit
                    <i class="fas fa-check mx-2"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

      <!-- Steps Modal -->
        <div class="modal fade" id="formModalSteps" tabindex="-1" aria-labelledby="formModalLabelSteps"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModalLabelSteps">
                  Update/Add Steps Data
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/api/dashboard/steps" method="POST">
                  <!-- Form fields for each attribute of the model -->
                  <div class="mb-3">
                    <label for="Steps" class="form-label"><strong>Steps</strong></label>
                    <input type="number" class="form-control" placeholder="steps" id="steps" name="steps" />
                  </div>
                  <!-- hidden input needed to pass the model ID for updates -->
                  <input type="hidden" name="userId" value="userId" />

                  <button type="submit" class="btn btn-success steps">
                    Submit
                    <i class="fas fa-check mx-2"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- <% //* add water %>
<div class="row">
  <div class="col">
    <form action="/api/dashboard/water" method="POST">
        <div class="row mb-3">
          <h3>Water: </h3>
          <label for="water" class="col-sm-2 col-form-label">Water</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" placeholder="ounces" name="wtr-amt" id="wtr-amt"></input>
          </div>
        </div>

        <button type="submit" class="btn btn-primary wtr-btn" >Add</button>
        <button type="submit" class="btn btn-primary wtr-update-btn" >Update</button>
        <button type="submit" class="btn btn-primary wtr-delete-btn" >Delete</button>

    </form>
  </div>
</div>

<%  //* add sleep %>
<div class="row">
  <div class="col">
    <form action="/api/dashboard/sleep" method="POST">
        <div class="row mb-3">
          <h3>Sleep: </h3>
          <label for="sleep" class="col-sm-2 col-form-label">Sleep</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" placeholder="hours" name="slp-amt" id="slp-amt"></input>
          </div>
        </div>
    
        <button type="submit" class="btn btn-primary slp-btn" >Add</button>
        <button type="submit" class="btn btn-primary slp-update-btn" >Update</button>
        <button type="submit" class="btn btn-primary slp-delete-btn" >Delete</button>
    
    </form>
  </div>
</div>

  <% //add cardio %>
  <div class="row">
    <div class="col">
      <form action="/api/dashboard/cardio" method="POST">
          <div class="row mb-3">
            <h3>cardio: </h3>
            <label for="cardio" class="col-sm-2 col-form-label">cardio</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="exercise" name="exercise" id="exercise"></input>
              <input type="number" class="form-control" placeholder="distance(km)" name="distance" id="distance"></input>
              <input type="number" class="form-control" placeholder="time(minutes)" name="time" id="time"></input>
            </div>
          </div>
      
          <button type="submit" class="btn btn-primary cardio">Add</button>
          <button type="submit" class="btn btn-primary cardio-update" >Update</button>
          <button type="submit" class="btn btn-primary cardio-delete" >Delete</button>
      
      </form>

<% //add steps %>
<div class="row">
  <div class="col">
    <form action="/api/dashboard/steps" method="POST">
        <div class="row mb-3">
          <h3>steps: </h3>
          <label for="steps" class="col-sm-2 col-form-label">steps</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" placeholder="steps" name="steps" id="steps"></input>
          </div>
        </div>
    
        <button type="submit" class="btn btn-primary steps">Add</button>
        <button type="submit" class="btn btn-primary steps-update" >Update</button>
        <button type="submit" class="btn btn-primary steps-delete" >Delete</button>
    
    </form>
  </div>
</div>

<% //add workout %>
<div class="row">
  <div class="col">
    <form action="/api/dashboard/workout" method="POST">
        <div class="row mb-3">
          <h3>workout: </h3>
          <label for="workout" class="col-sm-2 col-form-label">workout</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="exercise" name="exercise-name" id="exercise"></input>
            <input type="number" class="form-control" placeholder="reps" name="reps" id="reps"></input>
            <input type="number" class="form-control" placeholder="sets" name="sets" id="sets"></input>
          </div>
        </div>
    
        <button type="submit" class="btn btn-primary workout">Add</button>
        <button type="submit" class="btn btn-primary workout-update" >Update</button>
        <button type="submit" class="btn btn-primary workout-delete" >Delete</button>
    
    </form>
  </div>
</div>
</div>
    -->

        <script src="../js/dashboard.js"></script>
        <script src="../js/BMI.js"></script>
        <script src="../js/date.js"></script>

        <%- include('partials/footer') %>
  </div>