<%- include('partials/header.ejs') %>


<div class="container primary-container">
<h2>User Profile</h2>
<div>
  <% if(users.length > 0) { %>
    <ul>
      <% users.forEach(function(user) { %>
        <li>ID: <%= user.id %>, Username: <%= user.username %>
          <button class="btn btn-primary editDetails" data-id="<%= user.id %>" data-username="<%= user.username %>">Edit Details</button>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No users found.</p>
  <% } %>
</div>

<!-- Bootstrap modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit User Details</h5>
        <button type="button" class="btn btn-primary btn-close" data-bs-dismiss="modal" aria-label="Close">Close</button>
      </div>
      <div class="modal-body">
        <h3>User Profile</h3>
        <div id="modalContent"></div>
        <button class="btn btn-warning delete-btn">DELETE</button>
      </div>
      
    </div>
  </div>
</div>

<script src="../js/editUser.js"></script>

<%- include('partials/footer.ejs') %>
</div>